.vscode
.git
.nyc_output
coverage
dist/**/*.spec.*
dist/**/*.map
src
testProject
.gitignore
.travis.yml
rokudeploy.json
*.pkg
tsconfig.json
tslint.json
bsconfig.json
.github/**/*
.eslintrc.js
